@import url("../../App.css");

.appContainer {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1.25rem 1.25rem 0.125rem 1.25rem;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contextForm {
  height: 465px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  color: var(--textColor);
  margin-bottom: 0.313rem;
}

.formGroup input,
textarea,
select {
  padding: 0.5rem 0.625rem;
  font-size: 0.875rem;
  border: 0.063rem solid var(--gray);
  border-radius: 0.313rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#nameField {
  width: 70%;
}

#referenceCodeField {
  width: 27%;
}

#priceField,
#pricePromocionalField {
  width: 15%;
}

#brandField {
  width: 65%;
}

#stockAlertField {
  width: 11.1%;
}

#colorField,
#sizeField {
  width: 18%;
}

#barCodeField {
  width: 45%;
}

#descriptionField textarea {
  resize: none;
  height: 9.375rem;
}

#categoryField {
  width: 35.5%;
}

#packagingQuantityField {
  width: 61%;
}

#unitField {
  width: 22.5%;
}

#netWeight,
#grossWeight {
  width: 22.5%;
}

#dimensionField {
  width: 22.5%;
}

#anvisaRegisterField {
  width: 48.5%;
}

#originField {
  width: 22.5%;
}

#stockLocationField {
  width: 22.5%;
}

#icmsField,
#cfopField,
#ncmField,
#cstField {
  width: 22.5%;
}

#options {
  display: flex;
  gap: 2.188rem;
  width: 45%;
}

#imageField {
  width: 45%;
}

#sterilityField,
#activeField,
#freeShippingField,
#perishableField {
  height: 20px;
  width: 18px;
}

input:focus {
  border: 0.063rem solid var(--activeButton);
}

.errorMessage {
  height: 0px;
  color: var(--red);
  font-size: 0.75rem;
  position: relative;
  top: 0.125rem;
}