.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    color: var(--textColor);
    margin-bottom: 0.313rem;
}

#descriptionField textarea {
    resize: none;
    height: 9.375rem;
}

.errorMessage {
    height: 0px;
    color: var(--red);
    font-size: 0.75rem;
    position: relative;
    top: 0.125rem;
}
